# 1-2-データ型と関数

- データ型
- 動的型付け
- 組み込み関数とメソッド

# データ型

Pythonには標準で以下のデータ型を提供している

- int
- float
- complex
- bool
- str
- list
- tuple
- dict
- set
- None
- datetime
- decimal
- fractions

In [1]:
1

1

In [2]:
type(1)

int

In [3]:
1.0

1.0

In [4]:
type(1.0)

float

In [5]:
3 + 4j

(3+4j)

In [6]:
True

True

In [7]:
'1'

'1'

In [8]:
'文字列'

'文字列'

In [9]:
[1, 2, 3]

[1, 2, 3]

In [10]:
(4, 5, 6)

(4, 5, 6)

In [11]:
{'one': 1, 'two': 2}

{'one': 1, 'two': 2}

In [12]:
{1, 3, 5, 2, 3}

{1, 2, 3, 5}

In [13]:
None

In [14]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 4, 18, 11, 31, 32, 992165)

In [23]:
from decimal import Decimal
Decimal("1.1") + Decimal("2.2")

Decimal('3.3')

In [21]:
1.1 + 2.2

3.3000000000000003

In [24]:
from fractions import Fraction 
Fraction(2, 3)

Fraction(2, 3)

In [25]:
Fraction(2, 3) * Fraction(3, 5)

Fraction(2, 5)

In [26]:
(2 / 3) * (3 / 5)

0.39999999999999997

# 動的型付け

- 各種リテラル
- コンストラクタと型変換

## 各種リテラル

- int
- float
- complex
- str
- list
- tuple
- dict
- set

すでにデータ型で示したとおり

### 文字列

In [27]:
'文字列'

'文字列'

In [28]:
"文字列"

'文字列'

In [29]:
"""文字列"""

'文字列'

In [30]:
'''文字列'''

'文字列'

### intとfloat

In [31]:
1 + 2

3

In [32]:
1 + 2.0

3.0

In [33]:
1.0 + 2.0

3.0

In [34]:
4 / 2

2.0

### 文字列と数値

エラーとなるので後述する型変換が必要

In [35]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [36]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## コンストラクタと型変換

In [37]:
int(1)

1

In [38]:
float(1)

1.0

In [39]:
str(1)

'1'

In [40]:
list()

[]

In [42]:
tuple()

()

In [41]:
dict()

{}

In [43]:
set()

set()

In [44]:
int('1') + 2

3

In [45]:
'1' + str(2)

'12'

# 組み込み関数とメソッド

Pythonには多くの組み込み関数がある。

https://docs.python.org/ja/3/library/functions.html

intなどのコンストラクタも組み込み関数

In [8]:
import pandas as pd
pd.read_html('https://docs.python.org/ja/3/library/functions.html')[0]

       Unnamed: 0   Unnamed: 1        組み込み関数    Unnamed: 3      Unnamed: 4
0           abs()    delattr()        hash()  memoryview()           set()
1           all()       dict()        help()         min()       setattr()
2           any()        dir()         hex()        next()         slice()
3         ascii()     divmod()          id()      object()        sorted()
4           bin()  enumerate()       input()         oct()  staticmethod()
5          bool()       eval()         int()        open()           str()
6    breakpoint()       exec()  isinstance()         ord()           sum()
7     bytearray()     filter()  issubclass()         pow()         super()
8         bytes()      float()        iter()       print()         tuple()
9      callable()     format()         len()    property()          type()
10          chr()  frozenset()        list()       range()          vars()
11  classmethod()    getattr()      locals()        repr()           zip()
12      compile()    globals()         map()    reversed()    __import__()
13      complex()    hasattr()         max()       round()             NaN

In [9]:
abs(-3)

3

In [10]:
abs(3 + 4j)

5.0

In [11]:
round(10.4)

10

In [12]:
len([1, 2, 3])

3

In [13]:
len({1, 3, 5, 3})

3

In [14]:
"My name is Manabu TERADA".split()

['My', 'name', 'is', 'Manabu', 'TERADA']

In [15]:
"-".join(['My', 'name', 'is', 'Manabu', 'TERADA'])

'My-name-is-Manabu-TERADA'

In [16]:
"My name is Manabu TERADA".upper()

'MY NAME IS MANABU TERADA'

In [18]:
"My name is Manabu TERADA".startswith('M')

True

In [19]:
"My name is Manabu TERADA".endswith('M')

False

In [20]:
li = [1, 4, 2]
li.sort()
li

[1, 2, 4]

In [23]:
li2 = [1, 4, 2]
sorted(li2)

[1, 2, 4]

In [24]:
li2

[1, 4, 2]